HEADER{
 
    margin: 0px;
    padding: 0px;
   
   #cabecera {
     
    background: #39C3DB;;
    border: 2px solid #39C3DB;;
    padding: 10px;
    display:flex;
    align-items:center;
   }
   .logo{
    width: 200px;
    height: 200px;
     border: 2px solid #39C3DB;;
     margin: none;
     
   }
   #titulo{
    flex-grow:1;
    text-align:center;
	font-size: 50px;
   }
   }
NAV{
	background-color: #98A7DB;
	padding: 15px;
	a{
	text-decoration: none;
    color: black;
	display: unline-block;
	padding: 10px 200px;
	}
	a:hover{
		background-color: #7F39DB;
	}
	
}
SECTION{
	background-image: url("fondo.jpeg");
	padding: 400px 400px;
	h1{
		font-size: 100px;
		text-align: center;
		color: white;
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

}

}

FOOTER{
	background-color: #7F39DB;
	padding: 20px;
}
